<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @view_module.title(@view_template, assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156375977-1"></script>
    <meta name="aplication-name" content="Rafael Gonzaga Blog">
    <meta name="description" content="A tech blog focused on Application Performance and Software Architecture. The Front-end is just JSON over here.">
    <meta name="keywords" content="microsservices,microsservicos,javascript,nodejs,performance,profiling,ddd,architecture,tech">
    <meta name="author" content="Rafael Gonzaga">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156375977-1');
    </script>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>
          @rafaelgss tech blog
        </h1>
        <hr>
        <ul>
          <li>
            <a target="_blank" href="https://rafaelgss.github.io/portfolio/">Contact</a>
          </li>
          <li>
            <a href="<%= Routes.post_path @conn, :index %>">Publications</a>
          </li>
        </ul>
      </header>
      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>
      <footer>
        <span>© Rafael Gonzaga, Brasil - SP</span>
      </footer>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
