@import "./base.scss";
@import "./layouts.scss";

main {
  color: #333;
  max-width: 45em;
  margin: 0 auto;
  padding: 1em;

  ul {
    padding-left: 1em;

    li p {
      margin: 0;
      vertical-align: text-top;
      text-align: left;
    }
  }

  h3:first-child {
    margin-top: 1em;
  }
}

.teaser {
  border-bottom: 1px solid #ddd;
  padding: 1.5em 0;

  span {
    font-size: 0.9em;
    display: block;
    margin-bottom: 1.4em;
    color: #7595a4;
  }
}

span.date {
  font-size: 0.9em;
  display: block;
  margin-bottom: 1.4em;
  color: #7595a4;
}

.teaser p {
  margin: 0;
}

.more {
  font-weight: bold;
}

.post__raw-data {
  img {
    max-width: 100%;
  }
}
