html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Monospaced', monospace;
  font-size: 1em;
  height: 100%;
}

html, body, div, img, a, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  line-height: 1.5em;
  margin: 0.8em 0 0.8em 0;
  text-align: justify;
}

pre, code {
  font-family: 'SourceCodePro', monospace;
  font-size: 0.85em;
  line-height: 1.3em;
  background-color: #eee;
  color: #000;
  overflow-x: auto;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-family: 'SourceSerifProSemibold', serif;
  margin: 0 0 0.2em 0;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #353535;
}

a:before {
  content: "{\00a0";
  color: #a6ceef;
}

a:after {
  content: "\00a0}";
  color: #a6ceef;
}

div#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -6.8em 0;
}

header a:before, header a:after,
h2 a:before, h2 a:after,
h3 a:before, h3 a:after,
a.no_highlight:before, a.no_highlight:after,
.no_highlight a:before, .no_highlight a:after {
  content: "";
}

div#content:after {
  content: "";
  display: block;
  height: 6.8em;
}

@media (max-width: 46.875em) {
  div#content {
    margin-bottom: -3.8em;
  }

  div#content:after {
    height: 3.8em;
  }
}

.big{font-size:larger}
.small{font-size:smaller}
.underline{text-decoration:underline}
.overline{text-decoration:overline}
.line-through{text-decoration:line-through}
.aqua{color:#00bfbf}
.aqua-background{background-color:#00fafa}
.black{color:#000}
.black-background{background-color:#000}
.blue{color:#0000bf}
.blue-background{background-color:#0000fa}
.fuchsia{color:#bf00bf}
.fuchsia-background{background-color:#fa00fa}
.gray{color:#606060}
.gray-background{background-color:#7d7d7d}
.green{color:#006000}
.green-background{background-color:#007d00}
.lime{color:#00bf00}
.lime-background{background-color:#00fa00}
.maroon{color:#600000}
.maroon-background{background-color:#7d0000}
.navy{color:#000060}
.navy-background{background-color:#00007d}
.olive{color:#606000}
.olive-background{background-color:#7d7d00}
.purple{color:#600060}
.purple-background{background-color:#7d007d}
.red{color:#bf0000}
.red-background{background-color:#fa0000}
.silver{color:#909090}
.silver-background{background-color:#bcbcbc}
.teal{color:#006060}
.teal-background{background-color:#007d7d}
.white{color:#bfbfbf}
.white-background{background-color:#fafafa}
.yellow{color:#bfbf00}
.yellow-background{background-color:#fafa00}
