@import "./base.css";
@import "./layouts.css";

main {
  padding-left: 16px;
  padding-right: 16px;
  color: #333;
  max-width: 45em;
  margin: 0 auto;
}

main ul, main ol {
  padding-left: 2em;
}

main ul li, main ol li {
  margin: 0.7em;
  line-height: 1.5em;
}

main ul li p, main ol li p {
  margin: 0;
  vertical-align: text-top;
  text-align: left;
}

main h3:first-child {
  margin-top: 1em;
}

th, td {
  padding: 8px;
  color: inherit;
  fill: inherit;
  border: 1px solid rgb(233, 233, 231);
  position: relative;
  vertical-align: top;
  text-align: start;
  min-height: 32px;
}

.teaser .posts__date {
  font-size: 0.9em;
  display: inline-block;
  color: #7595a4;
}

.teaser p {
  margin: 0;
}
.teaser .posts__extra {
  display: block;
  margin-bottom: 1.4em;
}
.teaser .posts__date {
  display: inline-block;
}
.teaser .posts__tags {
  display: inline-block;
}
.teaser .posts__tags a {
  padding: 5px;
  font-size: 0.9em;
  background: #333;
  color: #cdcdcd;
  display: inline-block;
}
.teaser .posts__tags a:before {
  content: none;
}
.teaser .posts__tags a:after {
  content: none;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote p {
  display: inline;
}
span.date {
  font-size: 0.9em;
  display: block;
  margin-bottom: 1.4em;
  color: #7595a4;
}
.more {
  font-weight: bold;
}
.post__raw-data img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 500px;
}

.post__raw-data .max-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.post_comments {
  margin-top: 2em;
}
