@font-face {
  font-family: 'Apercu';
  src: url("/fonts/ApercuPro-Regular.woff") format("woff"), url("/fonts/ApercuPro-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: 'Apercu';
  font-weight: bold;
  src: url("/fonts/Apercu-Bold.woff") format("woff"), url("/fonts/Apercu-Bold.ttf")  format("truetype");
}

@font-face {
  font-family: 'Apercu';
  font-style: italic;
  src: url("/fonts/Apercu-Italic.woff") format("woff"), url("/fonts/Apercu-Italic.ttf")  format("truetype");
}

@font-face {
  font-family: 'ApercuMedium';
  src: url("/fonts/ApercuPro-Medium.woff") format("woff"), url("/fonts/ApercuPro-Medium.ttf")  format("truetype");
}

@font-face {
  font-family: 'ApercuMono';
  src: url("/fonts/Apercu-Mono.woff") format("woff"), url("/fonts/Apercu-Mono.ttf")  format("truetype");
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Apercu', serif;
  font-size: 1em;
  height: 100%;
}

html, body, div, img, a, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  line-height: 1.5em;
  margin: 0.8em 0 0.8em 0;
  text-align: justify;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  padding: 5px;
  margin-top: 2em;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #353535;
  }

  &:before {
    content: "{\00a0";
    color: #a6ceef;
  }

  &:after {
    content: "\00a0}";
    color: #a6ceef;
  }
}

h2 a {
  &:before, &:after {
    content: "";
  }
}

h3 a {
  &:before, &:after {
    content: "";
  }
}
