html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Monospaced', monospace;
  font-size: 1em;
  height: 100%;
}

html, body, div, img, a, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  line-height: 1.5em;
  margin: 0.8em 0 0.8em 0;
  text-align: justify;
}

h1 {
  font-weight: bold;
}

h2 {
  padding: 5px;
  margin-top: 2em;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #353535;
  }

  &:before {
    content: "{\00a0";
    color: #a6ceef;
  }

  &:after {
    content: "\00a0}";
    color: #a6ceef;
  }
}

h2 a {
  &:before, &:after {
    content: "";
  }
}

h3 a {
  &:before, &:after {
    content: "";
  }
}
