<%= for post <- @posts do %>
<section>
  <div class="teaser">
    <h2>
      <a href="<%= Routes.post_path @conn, :show, post.slug %>">
        <%= post.title %>
      </a>
    </h2>
    <span><%= relative_date(post.date) %></span>

    <p>
      <%= post.intro %>...
      <a class="more" href="<%= Routes.post_path @conn, :show, post.slug %>">
        read more
      </a>
    </p>
  </div>
</section>
<% end %>
