<%= for post <- @posts do %>
<section>
  <div class="teaser">
    <h2>
      <a href="link"><%= post.title %></a>
    </h2>
    <span><%= post.date %></span>

    <p>
      <%= post.intro %>...
      <br>
      <a class="more" href="link">read more</a>
    </p>
  </div>
</section>
<% end %>
